In [10]:
# !pip install pandas pyarrow
# !pip install sweetviz
# !pip install pip install pandas-profiling
import pandas as pd
import sweetviz as sv
# from pandas_profiling import ProfileReport

In [8]:
df1 = pd.read_parquet('venda_final.parquet')

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9066079 entries, 0 to 9066078
Data columns (total 26 columns):
 #   Column                     Dtype
---  ------                     -----
 0   codigo_viagem              int64
 1   cnpj                       int64
 2   numero_equipamento_fiscal  object
 3   numero_bilhete             int64
 4   data_emissao_bilhete       datetime64[ns]
 5   hora_emissao_bilhete       datetime64[ns]
 6   categoria_transporte       object
 7   nu_linha                   int64
 8   origem_destino_linha       object
 9   ponto_origem_viagem        object
 10  ponto_destino_viagem       object
 11  tipo_servico               object
 12  data_viagem                datetime64[ns]
 13  hora_viagem                object
 14  tipo_viagem                object
 15  numero_poltrona            int64
 16  plataforma_embarque        object
 17  tipo_gratitude             object
 18  valor_tarifa               float64
 19  valor_percentual_desconto  float64
 20  valor_aliquota_icms        float64
 21  valor_pedagio              float64
 22  valor_taxa_embarque        float64
 23  valor_total                float64
 24  origem_emissao             object
 25  in_passagem_cancelada      object
dtypes: datetime64[ns](3), float64(6), int64(5), object(12)
memory usage: 1.8+ GB

In [6]:
df1.head()

,codigo_viagem,cnpj,numero_equipamento_fiscal,numero_bilhete,data_emissao_bilhete,hora_emissao_bilhete,categoria_transporte,nu_linha,origem_destino_linha,ponto_origem_viagem,...,plataforma_embarque,tipo_gratitude,valor_tarifa,valor_percentual_desconto,valor_aliquota_icms,valor_pedagio,valor_taxa_embarque,valor_total,origem_emissao,in_passagem_cancelada
0,2355826,30069314000101,33191230069314000101,3683057,2019-12-14,1900-01-01 06:49:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,12399.0,Não Se Aplica,NÃO
1,2410799,30069314000101,33191230069314000101,4111198,2019-12-29,1900-01-01 06:38:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,11600.0,Não Se Aplica,NÃO
2,2382193,30069314000101,33191230069314000101,3758997,2019-12-17,1900-01-01 08:30:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11202.0,0.0,2000.0,783.0,614.0,12599.0,Não Se Aplica,NÃO
3,2329070,30069314000101,33191130069314000101,3288636,2019-11-27,1900-01-01 21:01:00,Interestadual,8008031,SAO PAULO(SP) - RIO DE JANEIRO(RJ),RIO DE JANEIRO/RJ,...,49 A 55,Tarifa Normal - sem desconto,11002.0,0.0,2000.0,783.0,614.0,6900.0,Não Se Aplica,NÃO
4,2335327,61084018000103,31191261084018004877,395145,2019-01-12,1900-01-01 12:38:00,Interestadual,6031561,JUIZ DE FORA(MG) - SANTOS(SP),JUIZ DE FORA/MG,...,10,Tarifa Normal - sem desconto,16029.0,0.0,1800.0,1045.0,525.0,17599.0,Não Se Aplica,NÃO

In [7]:
df1.shape

(9066079, 26)

In [8]:
df1.columns

Index(['codigo_viagem', 'cnpj', 'numero_equipamento_fiscal', 'numero_bilhete',
       'data_emissao_bilhete', 'hora_emissao_bilhete', 'categoria_transporte',
       'nu_linha', 'origem_destino_linha', 'ponto_origem_viagem',
       'ponto_destino_viagem', 'tipo_servico', 'data_viagem', 'hora_viagem',
       'tipo_viagem', 'numero_poltrona', 'plataforma_embarque',
       'tipo_gratitude', 'valor_tarifa', 'valor_percentual_desconto',
       'valor_aliquota_icms', 'valor_pedagio', 'valor_taxa_embarque',
       'valor_total', 'origem_emissao', 'in_passagem_cancelada'],
      dtype='object')

In [9]:
df1.dtypes

codigo_viagem                         int64
cnpj                                  int64
numero_equipamento_fiscal            object
numero_bilhete                        int64
data_emissao_bilhete         datetime64[ns]
hora_emissao_bilhete         datetime64[ns]
categoria_transporte                 object
nu_linha                              int64
origem_destino_linha                 object
ponto_origem_viagem                  object
ponto_destino_viagem                 object
tipo_servico                         object
data_viagem                  datetime64[ns]
hora_viagem                          object
tipo_viagem                          object
numero_poltrona                       int64
plataforma_embarque                  object
tipo_gratitude                       object
valor_tarifa                        float64
valor_percentual_desconto           float64
valor_aliquota_icms                 float64
valor_pedagio                       float64
valor_taxa_embarque                 float64
valor_total                         float64
origem_emissao                       object
in_passagem_cancelada                object
dtype: object

In [10]:
df1.describe()

,codigo_viagem,cnpj,numero_bilhete,nu_linha,numero_poltrona,valor_tarifa,valor_percentual_desconto,valor_aliquota_icms,valor_pedagio,valor_taxa_embarque,valor_total
count,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06,9.066079e+06
mean,2.256241e+06,4.210360e+13,5.503071e+06,9.451191e+06,2.301145e+01,2.267547e+04,1.578938e+03,1.479775e+03,3.765323e+02,4.156259e+02,1.945656e+04
std,3.463298e+05,2.811524e+13,2.130591e+07,4.387747e+06,1.657758e+01,5.413286e+05,3.110435e+03,3.789741e+02,4.966082e+02,2.066968e+03,5.317434e+05
min,1.402911e+06,1.812700e+10,0.000000e+00,1.000000e+06,0.000000e+00,-8.343000e+03,-8.200000e+03,0.000000e+00,-1.500000e+02,-5.500000e+02,-8.905000e+03
25%,2.265334e+06,1.662461e+13,8.464700e+04,6.029361e+06,1.100000e+01,6.073000e+03,0.000000e+00,1.200000e+03,0.000000e+00,1.490000e+02,4.990000e+03
50%,2.380483e+06,3.006931e+13,2.525710e+05,8.019200e+06,2.100000e+01,1.094800e+04,0.000000e+00,1.200000e+03,1.770000e+02,4.350000e+02,1.048900e+04
75%,2.457783e+06,6.108402e+13,8.447200e+05,1.201146e+07,3.300000e+01,1.797900e+04,1.304000e+03,1.800000e+03,6.190000e+02,6.140000e+02,1.531700e+04
max,2.558185e+06,9.859367e+13,9.857274e+08,2.300260e+07,5.990000e+02,4.493080e+07,2.832000e+04,1.595800e+04,3.893000e+03,2.000000e+05,4.513080e+07

In [11]:
df1.min()

C:\Users\fabia\AppData\Local\Temp\ipykernel_11856\921347938.py:1: FutureWarning: The default value of numeric_only in DataFrame.min is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.min()

codigo_viagem                                                          1402911
cnpj                                                               18127000138
numero_equipamento_fiscal
numero_bilhete                                                               0
data_emissao_bilhete                                       2018-01-10 00:00:00
hora_emissao_bilhete                                       1900-01-01 00:00:00
categoria_transporte                                             Interestadual
nu_linha                                                               1000000
origem_destino_linha                              AGUA BOA(MG) - SAO PAULO(SP)
ponto_origem_viagem                                       ABADIANIA/GO
ponto_destino_viagem                            ABADIA DOS DOURADOS/MG
tipo_servico                                        Convencional com sanitário
data_viagem                                                2019-01-03 00:00:00
hora_viagem                                                           00:00:00
tipo_viagem                                                            Extra01
numero_poltrona                                                              0
tipo_gratitude               Autorização de Viagem - Passe Livre - Art. 1º ...
valor_tarifa                                                           -8343.0
valor_percentual_desconto                                              -8200.0
valor_aliquota_icms                                                        0.0
valor_pedagio                                                           -150.0
valor_taxa_embarque                                                     -550.0
valor_total                                                            -8905.0
origem_emissao                                                       Embarcado
in_passagem_cancelada                                                      NÃO
dtype: object

In [12]:
df1.isnull().sum()

codigo_viagem                    0
cnpj                             0
numero_equipamento_fiscal        0
numero_bilhete                   0
data_emissao_bilhete             0
hora_emissao_bilhete             0
categoria_transporte             0
nu_linha                         0
origem_destino_linha             0
ponto_origem_viagem              0
ponto_destino_viagem             0
tipo_servico                     0
data_viagem                      0
hora_viagem                      0
tipo_viagem                      0
numero_poltrona                  0
plataforma_embarque          12018
tipo_gratitude                   0
valor_tarifa                     0
valor_percentual_desconto        0
valor_aliquota_icms              0
valor_pedagio                    0
valor_taxa_embarque              0
valor_total                      0
origem_emissao                   0
in_passagem_cancelada            0
dtype: int64

In [18]:
meu_sweetviz = df1

In [19]:
# Criar o relatório Wweetviz
report = sv.analyze(df1)

# Salvar o relatório em um arquivo HTML
report.show_html('relatorio.html')

                                             |                                             | [  0%]   00:00 ->…

Report relatorio.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [11]:
# Carregue seus dados em um DataFrame do pandas
# data = df1

# Criar o relatório Pandas Profile
# profile = ProfileReport(data, title='Pandas Profiling Report', explorative=True)

# Salve o relatório em um arquivo HTML
# profile.to_file("relatorio2.html")